# Python
__pycache__/
*.pyc
*.pyo

venv/
__pycache__/
data/20_newsgroups/
.cache/


# Virtual environment
venv/
.env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# cache
.cache/

# model cache
huggingface/